*, *:before, *:after {
  box-sizing: border-box;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.flex-el {
  width: 30%;
  margin-right: 5%;
}
.flex-el:nth-child(3n + 3) {
  width: 30%;
  margin-right: 0;
}

.card-image {
  overflow: hidden;
}

input.yellow-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input + label {
  color: #ffffff !important;
}
input.yellow-input:focus + label {
  color: #ffeb3b !important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  box-shadow: inset 0 0 0 50px #1e88e5 !important;
}
